.ligne .case2{
    text-align: center;
    width: 30%;
  
}

.ligne .case3{
    text-align: center;
    width: 30%;

}
.ligne .case4{
    text-align: center;
    width: 20%;

}
.ligne .case3{
    text-align: center;
    width: 20%;

}